
<%= subscribe_to "/negotiation/#{current_user.negotiation.id}/new" %>
<%= javascript_include_tag '/tabs/private_pub_subscribe.js' %>
 <!-- Heres's the private_pub subscribe -->

<div id="tab-container" class="tab-container">
  <ul class='etabs' id = 'tabs_for_<%= current_user.id %>' data-id = '<%= current_user.id %>'>
    <% @tabs.each do |tab| %>
      <li class='tab_link'>
        <a href="#tab_<%= tab[:title].downcase %>"><%= tab[:title] %></a>
      </li>
    <% end %>
  </ul>
  
  <% @tabs.each do |tab| %>
    <div id="tab_<%= tab[:title].downcase %>" class = 'tab'>
      <%=  tab[:content] %>
    </div>
  <% end %>
</div>